<a href="https://colab.research.google.com/github/grgfatta86/Pythonpractices/blob/main/Loops_Assignment_Fatta.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##  Swap two numbers without using 3rd variable

In [20]:
a = 10
b = 20
print('Print a and b before swap')
print('a= ', a, 'b= ',b)
a,b = b,a
print('Print a and b after swap')
print('a= ', a, 'b= ',b)

Print a and b before swap
a=  10 b=  20
Print a and b after swap
a=  20 b=  10

In [ ]:
## Remove duplicate elements from a list without converting to tuple

In [21]:
A=[1,2,2,3,4,3,3,'a','a']
B=list(set(A))
print(B)

[1, 2, 3, 4, 'a']

In [22]:
## Write a loop to print following series 10, 20, 30,  …………………, 300
print([i for i in range(10,310,10)])

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 300]

In [23]:
##Write a loop to print following series 105,98,91,………………………,7
print([i for i in range(105,0,-7)])

[105, 98, 91, 84, 77, 70, 63, 56, 49, 42, 35, 28, 21, 14, 7]

In [38]:
## Write a program to print number names of digits in a number like  SAMPLE INPUT 231 		SAMPLE OUTPUT TWO THREE ONE

sentence = 'My name is 8454'  #input('Input your sentences')

dict = {'1':'ONE', '2': 'TWO', '3':'THREE', '4':'FOUR', '5':'FIVE', '6':'SIX', '7':'SEVEN','8':'EIGHT', '9':'NINE', '0':'ZERO' }

Newsent =''

for i in sentence:
  if i.isdigit():
      Newsent = Newsent+' '+dict[i]

  else:
    Newsent += i

print(Newsent)

My name is  EIGHT FOUR FIVE FOUR