<a href="https://colab.research.google.com/github/grgfatta86/Pythonpractices/blob/main/Pandas_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [21]:
df_cvs = pd.read_csv('/content/Churn_Modelling.csv')

In [23]:
df_xml = pd.read_xml('/content/Churn_Modelling_xml.xml')

In [25]:
df_xlsx = pd.read_excel('/content/Churn_Modelling_xlsx.xlsx')

In [24]:
df_html = pd.read_html('/content/Churn_Modelling_html.html')

In [26]:
df_json = pd.read_json('/content/Churn_Modelling_json.json')

In [27]:
print(df_cvs, df_xml, df_xlsx, df_html, df_json)

      RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  \
0             1    15634602   Hargrave          619    France  Female   42
1             2    15647311       Hill          608     Spain  Female   41
2             3    15619304       Onio          502    France  Female   42
3             4    15701354       Boni          699    France  Female   39
4             5    15737888   Mitchell          850     Spain  Female   43
...         ...         ...        ...          ...       ...     ...  ...
9995       9996    15606229   Obijiaku          771    France    Male   39
9996       9997    15569892  Johnstone          516    France    Male   35
9997       9998    15584532        Liu          709    France  Female   36
9998       9999    15682355  Sabbatini          772   Germany    Male   42
9999      10000    15628319     Walker          792    France  Female   28

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2       0.00              1          1               1
1          1   83807.86              1          0               1
2          8  159660.80              3          1               0
3          1       0.00              2          0               0
4          2  125510.82              1          1               1
...      ...        ...            ...        ...             ...
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]       index  RowNumber  CustomerId    Surname  CreditScore Geography  Gender  \
0         0          1    15634602   Hargrave          619    France  Female
1         1          2    15647311       Hill          608     Spain  Female
2         2          3    15619304       Onio          502    France  Female
3         3          4    15701354       Boni          699    France  Female
4         4          5    15737888   Mitchell          850     Spain  Female
...     ...        ...         ...        ...          ...       ...     ...
9995   9995       9996    15606229   Obijiaku          771    France    Male
9996   9996       9997    15569892  Johnstone          516    France    Male
9997   9997       9998    15584532        Liu          709    France  Female
9998   9998       9999    15682355  Sabbatini          772   Germany    Male
9999   9999      10000    15628319     Walker          792    France  Female

      Age  Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0      42       2       0.00              1          1               1
1      41       1   83807.86              1          0               1
2      42       8  159660.80              3          1               0
3      39       1       0.00              2          0               0
4      43       2  125510.82              1          1               1
...   ...     ...        ...            ...        ...             ...
9995   39       5       0.00              2          1               0
9996   35      10   57369.61              1          1               1
9997   36       7       0.00              1          0               1
9998   42       3   75075.31              2          1               0
9999   28       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 15 columns]       Unnamed: 0  RowNumber  CustomerId    Surname  CreditScore Geography  \
0              0          1    15634602   Hargrave          619    France
1              1          2    15647311       Hill          608     Spain
2              2          3    15619304       Onio          502    France
3              3          4    15701354       Boni          699    France
4              4          5    15737888   Mitchell          850     Spain
...          ...        ...         ...        ...          ...       ...
9995        9995       9996    15606229   Obijiaku          771    France
9996        9996       9997    15569892  Johnstone          516    France
9997        9997       9998    15584532        Liu          709    France
9998        9998       9999    15682355  Sabbatini          772   Germany
9999        9999      10000    15628319     Walker          792    France

      Gender  Age  Tenure    Balance  NumOfProducts  HasCrCard  \
0     Female   42       2       0.00              1          1
1     Female   41       1   83807.86              1          0
2     Female   42       8  159660.80              3          1
3     Female   39       1       0.00              2          0
4     Female   43       2  125510.82              1          1
...      ...  ...     ...        ...            ...        ...
9995    Male   39       5       0.00              2          1
9996    Male   35      10   57369.61              1          1
9997  Female   36       7       0.00              1          0
9998    Male   42       3   75075.31              2          1
9999  Female   28       4  130142.79              1          1

      IsActiveMember  EstimatedSalary  Exited
0                  1        101348.88       1
1                  1        112542.58       0
2                  0        113931.57       1
3                  0         93826.63       0
4                  1         79084.10       0
...              ...              ...     ...
9995               0         96270.64       0
9996               1        101699.77       0
9997               1         42085.58       1
9998               0         92888.52       1
9999               0         38190.78       0

[10000 rows x 15 columns] [      Unnamed: 0  RowNumber  CustomerId    Surname  CreditScore Geography  \
0              0          1    15634602   Hargrave          619    France
1              1          2    15647311       Hill          608     Spain
2              2          3    15619304       Onio          502    France
3              3          4    15701354       Boni          699    France
4              4          5    15737888   Mitchell          850     Spain
...          ...        ...         ...        ...          ...       ...
9995        9995       9996    15606229   Obijiaku          771    France
9996        9996       9997    15569892  Johnstone          516    France
9997        9997       9998    15584532        Liu          709    France
9998        9998       9999    15682355  Sabbatini          772   Germany
9999        9999      10000    15628319     Walker          792    France

      Gender  Age  Tenure    Balance  NumOfProducts  HasCrCard  \
0     Female   42       2       0.00              1          1
1     Female   41       1   83807.86              1          0
2     Female   42       8  159660.80              3          1
3     Female   39       1       0.00              2          0
4     Female   43       2  125510.82              1          1
...      ...  ...     ...        ...            ...        ...
9995    Male   39       5       0.00              2          1
9996    Male   35      10   57369.61              1          1
9997  Female   36       7       0.00              1          0
9998    Male   42       3   75075.31              2          1
9999  Female   28       4  130142.79              1          1

      IsActiveMember  EstimatedSalary  Exited
0                  1        101348.88       1
1                  1        112542.58       0
2                  0        113931.57       1
3                  0         93826.63       0
4                  1         79084.10       0
...              ...              ...     ...
9995               0         96270.64       0
9996               1        101699.77       0
9997               1         42085.58       1
9998               0         92888.52       1
9999               0         38190.78       0

[10000 rows x 15 columns]]       RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  \
0             1    15634602   Hargrave          619    France  Female   42
1             2    15647311       Hill          608     Spain  Female   41
2             3    15619304       Onio          502    France  Female   42
3             4    15701354       Boni          699    France  Female   39
4             5    15737888   Mitchell          850     Spain  Female   43
...         ...         ...        ...          ...       ...     ...  ...
9995       9996    15606229   Obijiaku          771    France    Male   39
9996       9997    15569892  Johnstone          516    France    Male   35
9997       9998    15584532        Liu          709    France  Female   36
9998       9999    15682355  Sabbatini          772   Germany    Male   42
9999      10000    15628319     Walker          792    France  Female   28

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2       0.00              1          1               1
1          1   83807.86              1          0               1
2          8  159660.80              3          1               0
3          1       0.00              2          0               0
4          2  125510.82              1          1               1
...      ...        ...            ...        ...             ...
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]

In [14]:
print(df1)

      RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  \
0             1    15634602   Hargrave          619    France  Female   42
1             2    15647311       Hill          608     Spain  Female   41
2             3    15619304       Onio          502    France  Female   42
3             4    15701354       Boni          699    France  Female   39
4             5    15737888   Mitchell          850     Spain  Female   43
...         ...         ...        ...          ...       ...     ...  ...
9995       9996    15606229   Obijiaku          771    France    Male   39
9996       9997    15569892  Johnstone          516    France    Male   35
9997       9998    15584532        Liu          709    France  Female   36
9998       9999    15682355  Sabbatini          772   Germany    Male   42
9999      10000    15628319     Walker          792    France  Female   28

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2       0.00              1          1               1
1          1   83807.86              1          0               1
2          8  159660.80              3          1               0
3          1       0.00              2          0               0
4          2  125510.82              1          1               1
...      ...        ...            ...        ...             ...
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]

In [11]:
df1.to_html('Churn_Modelling_html.html')

In [13]:
df1.to_excel('Churn_Modelling_xlsx.xlsx')

In [16]:
df1.to_json('Churn_Modelling_json.json')

In [19]:
df1.to_xml('Churn_Modelling_xml.xml')