<a href="https://colab.research.google.com/github/grgfatta86/Pythonpractices/blob/main/Python_Pandas_Series_fatta.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

lst1 = [21,32,43,54,65,76,87,98,9,10]
ser1 = pd.Series(lst1)
print(ser1)
print(type(ser1))
ser1.ndim, ser1.shape, ser1.size

0    21
1    32
2    43
3    54
4    65
5    76
6    87
7    98
8     9
9    10
dtype: int64
<class 'pandas.core.series.Series'>

(1, (10,), 10)

In [7]:
tup1 = (1,2,3,4,6,7,8,9,9,10)
ser2 = pd.Series(tup1)
print(ser2)
print(type(ser2))
ser2.ndim, ser2.shape, ser2.size

0     1
1     2
2     3
3     4
4     6
5     7
6     8
7     9
8     9
9    10
dtype: int64
<class 'pandas.core.series.Series'>

(1, (10,), 10)

In [8]:
set1 = {1,2,3,4,5,6}
ser3 = pd.Series(set1)
print(ser3)

TypeError: ignored

In [11]:
dict1 = {'a':'b','c':'d','e':'f','g':'h','i':'j'}
ser4 = pd.Series(dict1)
print(ser4)
print(type(ser4))
ser4.dtype, ser4.ndim, ser4.shape, ser4.size

a    b
c    d
e    f
g    h
i    j
dtype: object
<class 'pandas.core.series.Series'>

(dtype('O'), 1, (5,), 5)

In [12]:
str1 = 'Python Programming'
ser5 = pd.Series(str1)
print(ser5)
print(type(ser5))
ser5.ndim, ser5.dtypes, ser5.shape, ser5.size

0    Python Programming
dtype: object
<class 'pandas.core.series.Series'>

(1, dtype('O'), (1,), 1)

In [13]:
ser1.dtypes, ser2.dtypes, ser4.dtypes, ser5.dtypes

(dtype('int64'), dtype('int64'), dtype('O'), dtype('O'))

In [14]:
len(ser1), len(ser2), len(ser4), len(ser5), len(str1)

(10, 10, 5, 1, 18)

In [15]:
ser1, lst1

(0    21
 1    32
 2    43
 3    54
 4    65
 5    76
 6    87
 7    98
 8     9
 9    10
 dtype: int64,
 [21, 32, 43, 54, 65, 76, 87, 98, 9, 10])

In [16]:
ser6 = pd.Series(lst1, index=[11,22,33,44,55,66,77,88,99,10])
print(ser6)
print(type(ser6))
ser6.ndim, ser6.size , ser6.nbytes , ser6.shape , len(ser6) , ser6.count() , ser6.dtypes

11    21
22    32
33    43
44    54
55    65
66    76
77    87
88    98
99     9
10    10
dtype: int64
<class 'pandas.core.series.Series'>

(1, 10, 80, (10,), 10, 10, dtype('int64'))

In [17]:
ser6

11    21
22    32
33    43
44    54
55    65
66    76
77    87
88    98
99     9
10    10
dtype: int64

In [19]:
ser6.index = ['a','b','c','d','e','f','g','h', 'i', 'j']

In [20]:
ser6

a    21
b    32
c    43
d    54
e    65
f    76
g    87
h    98
i     9
j    10
dtype: int64

In [21]:
cp_ser6 = ser6.copy()

In [22]:
cp_ser6

a    21
b    32
c    43
d    54
e    65
f    76
g    87
h    98
i     9
j    10
dtype: int64

In [23]:
ser7 = cp_ser6.append(ser6)

<ipython-input-23-1113602d82b5>:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ser7 = cp_ser6.append(ser6)

In [24]:
ser7

a    21
b    32
c    43
d    54
e    65
f    76
g    87
h    98
i     9
j    10
a    21
b    32
c    43
d    54
e    65
f    76
g    87
h    98
i     9
j    10
dtype: int64

In [27]:
ser7.drop('j', inplace=True)
ser7

a    21
b    32
c    43
d    54
e    65
f    76
g    87
h    98
i     9
a    21
b    32
c    43
d    54
e    65
f    76
g    87
h    98
i     9
dtype: int64

In [28]:
ser6.mean()

49.5

In [29]:
ser6.median()

48.5

In [30]:
ser1.add(ser2)

0     22
1     34
2     46
3     58
4     71
5     83
6     95
7    107
8     18
9     20
dtype: int64

In [31]:
ser1.sub(ser2)

0    20
1    30
2    40
3    50
4    59
5    69
6    79
7    89
8     0
9     0
dtype: int64

In [32]:
ser1.multiply(ser2)

0     21
1     64
2    129
3    216
4    390
5    532
6    696
7    882
8     81
9    100
dtype: int64

In [33]:
ser1.divide(ser2)

0    21.000000
1    16.000000
2    14.333333
3    13.500000
4    10.833333
5    10.857143
6    10.875000
7    10.888889
8     1.000000
9     1.000000
dtype: float64