<a href="https://colab.research.google.com/github/grgfatta86/Pythonpractices/blob/main/Rohit_case_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## Write a Python class Employee with attributes like emp_id, emp_name, emp_salary, and emp_department and methods like calculate_emp_salary, emp_assign_department, and print_employee_details.

#Use 'assign_department' method to change the department of an employee.

#Use 'print_employee_details' method to print the details of an employee.

#Use 'calculate_emp_salary' method takes two arguments: salary and hours_worked, which is the number of hours worked by the employee.

In [20]:
class Employee:
  def __init__(self, name, emp_id, salary, department):
    self.name = name
    self.id = emp_id
    self.salary = salary
    self.department = department

  def calculate_salary(self, salary, hours_workded):
    self.salary = salary*hours_worked 

  def assign_department(self, emp_department):
    self.department = emp_department

  def print_employee_details(self):
    print("\nName: ", self.name)
    print("ID: ", self.id)
    print("salary: ", self.salary)
    print("department: ", self.department)
    print("------------------------")

In [21]:
employee1 = Employee("Ram", "E7876", 3000, "Entomology")
employee2 = Employee("Sanjay", "E7499", 4000, "Soil")
employee3 = Employee("Ganesh", "E7900", 5000, "Agronomy")
employee4 = Employee("Kisu", "E7698", 6000, "Horticulture")

In [22]:
employee1.print_employee_details()
employee2.print_employee_details()
employee3.print_employee_details()
employee4.print_employee_details()

Name:  Ram
ID:  E7876
salary:  3000
department:  Entomology
------------------------

Name:  Sanjay
ID:  E7499
salary:  4000
department:  Soil
------------------------

Name:  Ganesh
ID:  E7900
salary:  5000
department:  Agronomy
------------------------

Name:  Kisu
ID:  E7698
salary:  6000
department:  Horticulture
------------------------

In [23]:
employee1.assign_department("Aqua")
employee4.assign_department("Pathology")

print("updated Employee Details")
employee1.print_employee_details()
employee2.print_employee_details()
employee3.print_employee_details()
employee4.print_employee_details()

updated Employee Details

Name:  Ram
ID:  E7876
salary:  3000
department:  Aqua
------------------------

Name:  Sanjay
ID:  E7499
salary:  4000
department:  Soil
------------------------

Name:  Ganesh
ID:  E7900
salary:  5000
department:  Agronomy
------------------------

Name:  Kisu
ID:  E7698
salary:  6000
department:  Pathology
------------------------

In [ ]:
##6 print details of all employees try as homework

In [ ]:
def